# This is an ST NUCLEO F103RB board with a single STM32F103RBT6 chip.
# http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847/PF259875
# https://gist.github.com/janjongboom/51f2edbee8c965741465fa5feefe4cf1


source [find interface/stlink.cfg]
source [find target/stm32f1x.cfg]
transport select hla_swd
reset_config srst_only

tpiu config external uart on 72000000 2000000 
